@keyframes color-change {
    0% {
      color: rgb(238, 255, 0);
    }
  
    50% {
      color: rgb(0, 89, 255);
    }
  
    100% {
      color: rgb(238, 255, 0);
    }
}

body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #161616; /* Warna latar belakang laman web */
    color: #ffffff; /* Warna teks */ 
}
h1 {
    color: rgb(238, 255, 0); /* Warna tajuk (header)*/
    font-size: 30px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}

h1:hover { animation: color-change 3s infinite; }
